//- index.pug
extends layouts/app.pug

block title
  title Module 02 — Corporate

block content

  // Header #11
  div.js-hamburger.hamburger.header.header_fixed
    div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center.grid_xl-middle
      div.grid__col.grid__col_xl-3-12.grid__col_md-1-1.grid_xl-middle.grid_xl-left.grid_sm-center

        div.grid.grid_xl-flexbox
          div.grid__col.grid__col_md-6-12.grid__col_sm-11-12
            a(href='')
              img.logo(src='content/logo@2x.png' style={height: '22px'})

          div.grid__col.grid__col_md-6-12.grid__col_sm-1-12.grid_xl-right.grid_md-right.grid_md-top.grid__col_xl-hidden.grid__col_md-not-hidden.grid__col_sm-not-hidden
            span.js-hamburger-handler.hamburger__handler(data-target='.hamburger__menu' data-active='hamburger__menu_is_active') <svg class="icon icon_end icon_color_grey" width="25px" height="25px">
              <use xlink:href="assets/img/symbols.svg#menu"></use>
            </svg>

      div.hamburger__menu.grid__col.grid__col_xl-6-12.grid__col_md-1-1.grid__col_xl-middle
        ul.menu
          li.menu__item
            a(href='#').menu__link Approach
          li.menu__item
            a(href='#').menu__link Projects
          li.menu__item
            a(href='#').menu__link Services
          li.menu__item
            a(href='#').menu__link.menu__link_header Statistics
              span.icon.icon_end.icon_margin_left.icon_align_top <svg class="icon icon_end icon_margin_left" width="16px" height="14px">
                <use xlink:href="assets/img/symbols.svg#rising"></use>
              </svg>

      div.hamburger__menu.grid__col.grid__col_xl-3-12.grid__col_md-1-1.grid_xl-middle.grid_xl-right.grid_md-center
        ul.menu.menu_social
          li.menu__item.menu__item_header
            a.menu__link.menu__link_header(href='') <svg class="icon icon_end icon_color_grey" width="17px" height="15px">
              <use xlink:href="assets/img/symbols.svg#twitter"></use>
            </svg>
          li.menu__item.menu__item_header
            a.menu__link.menu__link_header(href='') <svg class="icon icon_end icon_color_grey" width="16px" height="16px">
              <use xlink:href="assets/img/symbols.svg#instagram"></use>
            </svg>
          li.menu__item.menu__item_header
            a.menu__link.menu__link_header(href='') <svg class="icon icon_end icon_color_grey" width="19px" height="12px">
              <use xlink:href="assets/img/symbols.svg#behance"></use>
            </svg>

  div.wrapper.wrapper_pt

    // Promo #1
    div.js-slider.grid.promo(data-active='promo__slide_is_active' data-loop='false' data-animation='slideIn' data-animation-direction-next='Left' data-animation-direction-prev='Right')
      a.js-slider-arrow-prev.promo__arrow.promo__arrow_is_active.promo__arrow_left(href='') <svg class="icon icon_end" width="70px" height="70px">
        <use xlink:href="assets/img/symbols.svg#arrow_left"></use>
      </svg>
      a.js-slider-arrow-next.promo__arrow.promo__arrow_is_active.promo__arrow_right(href='') <svg class="icon icon_end" width="70px" height="70px">
        <use xlink:href="assets/img/symbols.svg#arrow_right"></use>
      </svg>

      div.promo__more
        p.promo__explore Explore more about us
        a.js-anchor-handler.promo__link(href='') <svg class="icon icon_end" width="45px" height="45px">
          <use xlink:href="assets/img/symbols.svg#explore"></use>
        </svg>

      div.js-slider-slide.grid_xl-flexbox.grid_xl-middle.promo__slide.promo__slide_is_active(style="background: url('content/slider/promo_slide_1.jpg'); background-size: cover;")
        div.promo__overlay
        div.promo__content.u-text_center
          p.tag.tag_white What we do
          h1.h1.h1_white The Smart and Simple Way to Invest in Future You.
          p.subheader.subheader_white We design and develop software for funded startups and established companies. Here are just some examples of our work
          a(href='#' class='btn btn_white') Learn more

      div.js-slider-slide.grid_xl-flexbox.grid_xl-middle.promo__slide(style="background: url('content/slider/promo_slide_2.jpg'); background-size: cover;")
        div.promo__overlay
        div.promo__content.u-text_center
          p.tag.tag_white What we can
          h1.h1.h1_white The Smart and Simple Way to Invest in Future You.
          p.subheader.subheader_white We design and develop software for funded startups and established companies. Here are just some examples of our work
          a(href='#' class='btn btn_white') Learn more

      div.js-slider-slide.grid_xl-flexbox.grid_xl-middle.promo__slide(style="background: url('content/slider/promo_slide_3.jpg'); background-size: cover;")
        div.promo__overlay
        div.promo__content.u-text_center
          p.tag.tag_white What we can do
          h1.h1.h1_white The Smart and Simple Way to Invest in Future You.
          p.subheader.subheader_white We design and develop software for funded startups and established companies. Here are just some examples of our work
          a(href='#' class='btn btn_white') Learn more

    // Contents #3
    div.component
      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
        div.grid__col.grid__col_xl-8-12.grid__col_md-1-1
          div.js-anchor.anchor
          <svg class="icon" width="56px" height="45px">
            <use xlink:href="assets/img/symbols.svg#consultancy"></use>
          </svg>
          p.quote.u-text_center We craft digital, graphic and 3 dimensional thinking, to create category leading brand experiences that have meaning, relevance and deliver extraordinary value

    // Portfolio #4
    div.component.u-text_center.u-color_back_grey
      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
        div.grid__col.grid__col_xl-8-12.grid__col_sm-1-1
          p.h1 Client Work
          p.subheader.subheader_mb_80 We design and develop software for funded startups and established companies. Here are just some examples of our work

      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-top.grid_xl-center.grid_xl-3.grid_md-2.grid_sm-1.portfolio
        div.grid__col.grid__col
          div.portfolio__item
            div.portfolio__cover
              a.portfolio__link.portfolio__link_end.portfolio__link_cover(href='')
                img.portfolio__img(src='content/portfolio/1.jpg')
                span.portfolio__overlay
                  span.portfolio__href <svg class="icon" width="45px" height="45px">
                    <use xlink:href="assets/img/symbols.svg#outside"></use>
                  </svg>
            div.portfolio__content
              a.portfolio__link(href='') Ad Astra Per Aspera
              p.portfolio__desc In the past years, there has been a growing interest in science
        div.grid__col.grid__col
          div.portfolio__item
            div.portfolio__cover
              a.portfolio__link.portfolio__link_end.portfolio__link_cover(href='')
                img.portfolio__img(src='content/portfolio/2.jpg')
                span.portfolio__overlay
                  span.portfolio__href <svg class="icon" width="45px" height="45px">
                    <use xlink:href="assets/img/symbols.svg#outside"></use>
                  </svg>
            div.portfolio__content
              a.portfolio__link(href='') Migration Data
              p.portfolio__desc Delve is a production company based in Oregon working with tech juggernauts
        div.grid__col.grid__col
          div.portfolio__item
            div.portfolio__cover
              a.portfolio__link.portfolio__link_end.portfolio__link_cover(href='')
                img.portfolio__img(src='content/portfolio/3.jpg')
                span.portfolio__overlay
                  span.portfolio__href <svg class="icon" width="45px" height="45px">
                    <use xlink:href="assets/img/symbols.svg#outside"></use>
                  </svg>
            div.portfolio__content
              a.portfolio__link(href='') Chicago's Mobility
              p.portfolio__desc Chicago is an open source data analytics platform built for enterprise

        div.grid__col.grid__col
          div.portfolio__item
            div.portfolio__cover
              a.portfolio__link.portfolio__link_end.portfolio__link_cover(href='')
                img.portfolio__img(src='content/portfolio/4.jpg')
                span.portfolio__overlay
                  span.portfolio__href <svg class="icon" width="45px" height="45px">
                    <use xlink:href="assets/img/symbols.svg#outside"></use>
                  </svg>
            div.portfolio__content
              a.portfolio__link(href='') Creative Animals
              p.portfolio__desc Tidepool is building a platform and suite of apps to make type 1 diabetes
        div.grid__col.grid__col
          div.portfolio__item
            div.portfolio__cover
              a.portfolio__link.portfolio__link_end.portfolio__link_cover(href='')
                img.portfolio__img(src='content/portfolio/5.jpg')
                span.portfolio__overlay
                  span.portfolio__href <svg class="icon" width="45px" height="45px">
                    <use xlink:href="assets/img/symbols.svg#outside"></use>
                  </svg>
            div.portfolio__content
              a.portfolio__link(href='') Talkviz
              p.portfolio__desc Talkviz is putting critical information into the hands of the people
        div.grid__col.grid__col
          div.portfolio__item
            div.portfolio__cover
              a.portfolio__link.portfolio__link_end.portfolio__link_cover(href='')
                img.portfolio__img(src='content/portfolio/6.jpg')
                span.portfolio__overlay
                  span.portfolio__href <svg class="icon" width="45px" height="45px">
                    <use xlink:href="assets/img/symbols.svg#outside"></use>
                  </svg>
            div.portfolio__content
              a.portfolio__link(href='') Rooster
              p.portfolio__desc The company was formed after a merger between Startup Weekend

    // Features #4
    div.component.u-text_center
      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
        div.grid__col.grid__col_xl-8-12.grid__col_sm-1-1
          p.h1 Creating Outstanding Projects
          p.subheader We design solutions for digital interactions. With its approach, our team generates extraordinary value for brands through innovative design
          p.tag.tag_grey.tag_mb_60 Here is a cross of sections what we do:

      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
        div.grid__col.grid__col_xl-6-12.grid__col_sm-1-1

          div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center.grid_xl-3.grid_md-2.grid_sm-2
            div.grid__col.grid__col_xl.service
              <svg class="icon service__icon" width="56px" height="45px">
                <use xlink:href="assets/img/symbols.svg#consultancy"></use>
              </svg>
              p.h3 Consultancy
            div.grid__col.grid__col_xl.service
              <svg class="icon service__icon" width="52px" height="48px">
                <use xlink:href="assets/img/symbols.svg#branding"></use>
              </svg>
              p.h3 Branding
            div.grid__col.grid__col_xl.service
              <svg class="icon service__icon" width="57px" height="53px">
                <use xlink:href="assets/img/symbols.svg#design"></use>
              </svg>
              p.h3 Design

            div.grid__col.grid__col_xl.service
              <svg class="icon service__icon" width="60px" height="45px">
                <use xlink:href="assets/img/symbols.svg#strategy"></use>
              </svg>
              p.h3 Strategy
            div.grid__col.grid__col_xl.service
              <svg class="icon service__icon" width="47px" height="48px">
                <use xlink:href="assets/img/symbols.svg#coding"></use>
              </svg>
              p.h3 Coding
            div.grid__col.grid__col_xl.service
              <svg class="icon service__icon" width="38px" height="47px">
                <use xlink:href="assets/img/symbols.svg#support"></use>
              </svg>
              p.h3 Support

          button.btn.btn_success Out approach

    // Testimonials #7
    div.component.u-text_center.u-color_back_grey
      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
        div.grid__col.grid__col_xl-8-12.grid__col_sm-1-1
          p.tag.tag_grey People like us
          p.h1 Who will Answer the Telephone
          p.subheader.subheader_mb_80 In 1950 when I was born, papa couldn't afford to buy us much. He said be proud of what you are.

      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center.grid_xl-top.testimonials
        div.grid__col.grid__col_xl-4-12.grid__col_md-1-1.testimonials__item
          div.testimonials__wrapper
            img.testimonials__img(src='content/testimonials/airbnb.png' style={height: '40px'})
          p.testimonials__text "I think that are worth the price because of the comfort an quality of the sound of the material it is a little pricy but worth it"
          img.testimonials__photo(src='content/testimonials/1@2x.jpg')
          p.testimonials__name Yuliya Petrova
          p.testimonials__position Creative Director, Airbnb
        div.grid__col.grid__col_xl-4-12.grid__col_md-1-1.testimonials__item
          div.testimonials__wrapper
            img.testimonials__img(src='content/testimonials/flickr.png' style={height: '40px'})
          p.testimonials__text "I was in search of great headphone in all aspects like weight, compact size yet great sound quality"
          img.testimonials__photo(src='content/testimonials/2@2x.jpg')
          p.testimonials__name Nikita Markov
          p.testimonials__position Art Director, Flickr
        div.grid__col.grid__col_xl-4-12.grid__col_md-1-1.testimonials__item
          div.testimonials__wrapper
            img.testimonials__img(src='content/testimonials/vine.png' style={height: '40px'})
          p.testimonials__text "These headphones are great. They're comfortable, light, and provide accurate sound reproduction"
          img.testimonials__photo(src='content/testimonials/3@2x.jpg')
          p.testimonials__name Alexey Rybin
          p.testimonials__position UI/UX Art Director, Vine

    // Subscribe/Sign Up #6
    div.component.u-text_center
      div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
        div.grid__col.grid__col_xl-8-12.grid__col_sm-1-1
          p.h1 Want to Work With Us?
          p.subheader We are driven by creating experiences that deliver results for your business and for your consumers

          form.form

            div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
              div.grid__col.grid__col_xl-6-12.grid__col_md-1-1
                input(
                  type='text'
                  class='input input_full'
                  placeholder='Your name'
                )

              div.grid__col.grid__col_xl-6-12.grid__col_md-1-1
                input(
                  type='email'
                  class='input input_full'
                  placeholder='E-mail'
                )

            div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_xl-center
              div.grid__col.grid__col_xl-1-1
                textarea(
                  class='textarea textarea_full'
                  placeholder='Message'
                )

                button(
                  type='submit'
                  class='btn btn_success btn_full'
                ) Get in touch

          p.p.p_grey Or just email on

          a(href='mailto:hello@greatsimple.ru').subheader.link hello@greatsimple.ru

    // Footer #7
    div.footer.footer_back_dark
      div.grid.grid_xl-flexbox.grid_xl-gutter-24

        div.grid__col.grid__col_xl-4-12.grid__col_md-1-1.grid__col_sm-1-1.grid_xl-middle

          div.grid.grid_xl-flexbox.grid_xl-gutter-24.grid_md-center.grid_sm-center.grid_sm-middle
            div.grid__col.grid__col_xl-3-12.grid__col_md-2-12.grid__col_sm-1-1.grid_md-center
              a(href='')
                img.logo.logo_small.footer__element(src='content/logo-small@2x.png' style={height: '22px'})

            div.grid__col.grid__col_xl-9-12.grid__col_md-8-12.grid__col_sm-1-1.grid_md-center
              p.p.p_white.p_end.footer__element &copy 2016 Great Simple All rights reserved

        div.grid__col.grid__col_xl-4-12.grid__col_md-1-1.grid__col_sm-1-1.grid_xl-middle.grid_md-center.grid_sm-center
          p.p.p_white.p_end.footer__element +39 02 367 409 12, 560 Mission St, San Francisco CA 94105, USA

        div.grid__col.grid__col_xl-4-12.grid__col_md-1-1.grid__col_sm-1-1.grid_xl-right.grid_md-center.grid_sm-center.grid_xl-middle
          ul.menu.menu_social
            li.menu__item.menu__item_footer
              a.menu__link.menu__link_footer(href='') <svg class="icon icon_end icon_color_white" width="24px" height="15px">
                <use xlink:href="assets/img/symbols.svg#googleplus"></use>
              </svg>
            li.menu__item.menu__item_footer
              a.menu__link.menu__link_footer(href='') <svg class="icon icon_end icon_color_white" width="16px" height="16px">
                <use xlink:href="assets/img/symbols.svg#facebook"></use>
              </svg>
            li.menu__item.menu__item_footer
              a.menu__link.menu__link_footer(href='') <svg class="icon icon_end icon_color_white" width="17px" height="15px">
                <use xlink:href="assets/img/symbols.svg#twitter"></use>
              </svg>
            li.menu__item.menu__item_footer
              a.menu__link.menu__link_footer(href='') <svg class="icon icon_end icon_color_white" width="16px" height="16px">
                <use xlink:href="assets/img/symbols.svg#instagram"></use>
              </svg>
            li.menu__item.menu__item_footer
              a.menu__link.menu__link_footer(href='') <svg class="icon icon_end icon_color_white" width="19px" height="12px">
                <use xlink:href="assets/img/symbols.svg#behance"></use>
              </svg>

